.checkform{
    width:300px;
    padding:10px;
    background-color:rgba(75,0,130, 0.8);
}
 .btncheckform{
     width: 100%;
     margin-top:40px;
	 font-weight:bold;
	 font-size:20px;
	 color:#FFF;
     background-color:rgba(75,0,130, 0.9);
	 border:none;
	 cursor:pointer;
 }
 
 .btncheckform:hover{
	 background-color: rgba(75,0,130, 0.4)
 }